# Parsing Dates

In [1]:
%load_ext autoreload
%autoreload 2
from cord.cord19 import *
from cord.core import parallel, ifnone, describe_dataframe
import pandas as pd
import numpy as np
import pendulum
MAX_ROWS = 2000
pd.options.display.max_colwidth = 120
pd.options.display.max_rows = MAX_ROWS

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\dwight\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [ ]:
research_papers = ResearchPapers.from_data_dir()
research_papers.save()

Loading metadata from data\CORD-19-research-challenge
Cleaning metadata
Fixing dates that are a list e.g. ['2020-02-05', '2020-02']
Fixing dates with the seasons e.g. 2014 Autumn
Fix dates like 2016 Nov 9 Jan-Feb
Fix dates like 2012 Jan-Mar
Convert Dates like 2020 Apr 13
Converting Dates like 2020 Apr
Converting Dates like 2020
Converting Dates like 2020-01-21
Indexing research papers

In [ ]:
research_papers = ResearchPapers.from_pickle()

## Published Dates

In [29]:
metadata = ResearchPapers.load_metadata()

Loading metadata from data\CORD-19-research-challenge
Cleaning metadata
Fixing dates that are a list e.g. ['2020-02-05', '2020-02']
Fixing dates with the seasons e.g. 2014 Autumn
Fix dates like 2016 Nov 9 Jan-Feb
Fix dates like 2012 Jan-Mar
Convert Dates like 2020 Apr 13
Converting Dates like 2020 Apr
Converting Dates like 2020
Converting Dates like 2020-01-21

In [ ]:
describe_dataframe(research_papers.metadata)

In [5]:
from functools import partial
def format_date(date, format):
    try:
        return pd.to_datetime(date, format=format)
    except ValueError:
        if re.match(YYYY_MON_DD, date):
            date = f'{date[:8]} 28'
            return pd.to_datetime(date, format=format)
        return f'ValueError'

mdates = metadata[['publish_time','published']].copy().fillna('')

# Fix dates that are a list e.g. ['2020-02-05', '2020-02']
print("Fixing dates that are a list e.g. ['2020-02-05', '2020-02']")
idx_list = mdates.publish_time.str.match("\[.*")
mdates.loc[idx_list, 'publish_time'] = mdates.loc[idx_list] \
                                        .publish_time.apply(lambda d: d[2:12])

## Fix dates with the seasons e.g. 2014 Autumn
print("Fixing dates with the seasons e.g. 2014 Autumn")
idx_seasons = mdates.publish_time.str.match('.*(Spring|Summer|Fall|Autumn|Winter)')
mdates.loc[idx_seasons, 'publish_time'] = mdates.loc[idx_seasons].publish_time \
                                                .str.replace('Spring', 'Apr 01')\
                                                .str.replace('Summer', 'Jul 01')\
                                                .str.replace('Autumn', 'Oct 01')\
                                                .str.replace('Fall', 'Oct 01')\
                                                .str.replace('Winter', 'Dec 21')

## Fix dates like 2016 Nov 9 Jan-Feb
print("Fix dates like 2016 Nov 9 Jan-Feb")
idx_YYYY_MON_DD_extra = mdates.publish_time.str.match('\d{4} \w{3} \d{1,2}.+$')
mdates.loc[idx_YYYY_MON_DD_extra, 'publish_time'] = \
    mdates.loc[idx_YYYY_MON_DD_extra].publish_time.apply(lambda d: d[:11].strip())

## Fix dates like 2012 Jan-Mar
print("Fix dates like 2012 Jan-Mar")
idx_YYYY_MON_MON = mdates.publish_time.str.match('\d{4} \w{3}-\w{3}$')
mdates.loc[idx_YYYY_MON_MON, 'publish_time'] = \
    mdates.loc[idx_YYYY_MON_MON].publish_time.apply(lambda d: d[:8].strip())

# Convert Dates like 2020 Apr 13
print("Convert Dates like 2020 Apr 13")
YYYY_MON_DD = '\d{4} \w{3} \d{1,2}$'
idx_YYYY_MON_DD = mdates.publish_time.str.match(YYYY_MON_DD, case=False)
## Now parse the date
mdates.loc[idx_YYYY_MON_DD,'publish_date']  = \
        mdates.loc[idx_YYYY_MON_DD, 'publish_time'].apply(partial(format_date, format='%Y %b %d'))

# Convert Dates like 2020 Apr
print("Convert Dates like 2020 Apr")
YYYY_MON = '\d{4} \w{3}$'
idx_YYYY_MON = mdates.publish_time.str.match(YYYY_MON, case=False)
mdates.loc[idx_YYYY_MON,'publish_date']  = \
        mdates.loc[idx_YYYY_MON, 'publish_time'].apply(partial(format_date, format='%Y %b'))

# Convert Dates like 2020
print("Convert Dates like 2020")
YYYY = '\d{4}$'
idx_YYYY = mdates.publish_time.str.match(YYYY, case=False)
mdates.loc[idx_YYYY,'publish_date']  = \
        mdates.loc[idx_YYYY, 'publish_time'].apply(partial(format_date, format='%Y'))

# Convert Dates like 2020-01-21
print("Convert Dates like 2020-01-21")
YYYY_MM_DD = '\d{4}\-\d{2}\-\d{2}$'
idx_YYYY_MM_DD  = mdates.publish_time.str.match(YYYY_MM_DD, case=False)
mdates.loc[idx_YYYY_MM_DD,'publish_date']  = \
        mdates.loc[idx_YYYY_MM_DD, 'publish_time'].apply(partial(format_date, format='%Y-%m-%d'))

value_error = mdates.publish_date =='ValueError'
mdates

Fixing dates that are a list e.g. ['2020-02-05', '2020-02']
Fixing dates with the seasons e.g. 2014 Autumn
Fix dates like 2016 Nov 9 Jan-Feb
Fix dates like 2012 Jan-Mar
Convert Dates like 2020 Apr 13
Convert Dates like 2020 Apr
Convert Dates like 2020
Convert Dates like 2020-01-21

      publish_time published publish_date
0       1972-12-31   1972-01   1972-12-31
1       1980-03-31   1980-01   1980-03-31
2       1980-03-31   1980-01   1980-03-31
3       1973-08-31   1973-01   1973-08-31
4       1985-06-28   1985-01   1985-06-28
...            ...       ...          ...
44215  2017 Nov 17   2017-11   2017-11-17
44216   2009-02-13   2009-01   2009-02-13
44217   2018 Jul 3   2018-07   2018-07-03
44218   2011-03-15   2011-01   2011-03-15
44219   2017 Nov 8   2017-11   2017-11-08

[44220 rows x 3 columns]

In [197]:
mdates.loc[(mdates.publish_time ==''), 'publish_date'] = np.nan

In [7]:
mdates[~mdates.publish_date.isnull()]

      publish_time published publish_date
0       1972-12-31   1972-01   1972-12-31
1       1980-03-31   1980-01   1980-03-31
2       1980-03-31   1980-01   1980-03-31
3       1973-08-31   1973-01   1973-08-31
4       1985-06-28   1985-01   1985-06-28
...            ...       ...          ...
44215  2017 Nov 17   2017-11   2017-11-17
44216   2009-02-13   2009-01   2009-02-13
44217   2018 Jul 3   2018-07   2018-07-03
44218   2011-03-15   2011-01   2011-03-15
44219   2017 Nov 8   2017-11   2017-11-08

[34197 rows x 3 columns]

## Fix dates on ResearchPapers

In [25]:
research_papers = ResearchPapers.from_data_dir()

Loading metadata from data\CORD-19-research-challenge
Cleaning metadata
Fixing dates that are a list e.g. ['2020-02-05', '2020-02']
Fixing dates with the seasons e.g. 2014 Autumn
Fix dates like 2016 Nov 9 Jan-Feb
Fix dates like 2012 Jan-Mar
Convert Dates like 2020 Apr 13
Converting Dates like 2020 Apr
Converting Dates like 2020
Converting Dates like 2020-01-21
Indexing research papers
Finished Indexing in 67.0 seconds

In [26]:
research_papers.metadata.sample(2000)[['publish_date', 'date_diff']]

      publish_date      date_diff
8472    2016-04-30    4 years ago
2289    2011-12-31    8 years ago
27668   2017-09-27    2 years ago
19154   2020-01-01   2 months ago
13943   2003-07-31   17 years ago
2982    2018-12-31     1 year ago
14372   2012-09-30    7 years ago
32039          NaT
16896   2015-03-31    5 years ago
20163   2010-10-12    9 years ago
9028    2009-04-30   11 years ago
27738   2018-04-07    2 years ago
3414    2018-12-31     1 year ago
42912   2015-06-15    5 years ago
11096   2011-11-08    8 years ago
40428   2020-03-10    2 weeks ago
31324   2015-07-01    5 years ago
31558          NaT
14369   2008-10-31   11 years ago
19623   2007-06-13   13 years ago
20350   2011-02-21    9 years ago
1937    2020-12-31    in 9 months
1359    1984-10-31   35 years ago
23041   2016-02-26    4 years ago
22003   2014-07-01    6 years ago
2657    1995-12-31   24 years ago
40578   2018-02-16    2 years ago
42177   2020-03-10    2 weeks ago
25307   2018-11-30     1 year ago
35080          NaT
12575   2018-09-30     1 year ago
38365          NaT
4374    2015-12-31    4 years ago
26247   2019-09-12   6 months ago
13704   2011-11-30    8 years ago
5148    1985-02-28   35 years ago
39145          NaT
5425    2019-11-30   3 months ago
9877    2018-10-31     1 year ago
7466    2004-12-31   15 years ago
165     1978-12-31   41 years ago
38470          NaT
3942    2014-12-31    5 years ago
5467    2018-04-30    2 years ago
26330   2019-11-19   4 months ago
10060   1986-05-31   34 years ago
25179   2018-10-25     1 year ago
13878   2009-05-15   11 years ago
4786    2006-06-30   14 years ago
22591   2015-07-02    5 years ago
11714   2010-10-01    9 years ago
7006    2010-09-30    9 years ago
24377   2017-11-20    2 years ago
32244          NaT
1319    1991-12-15   28 years ago
41556   2015-11-30    4 years ago
7090    1989-12-31   30 years ago
25981   2019-04-02     1 year ago
43158   2020-01-01   2 months ago
20941   2012-09-12    7 years ago
13237   2018-03-31    2 years ago
31341          NaT
3487    2017-12-31    2 years ago
14682   2018-04-30    2 years ago
13569   2014-11-30    5 years ago
18832   2020-03-02    3 weeks ago
32407          NaT
34320          NaT
14857   2009-07-31   11 years ago
10722   2016-02-29    4 years ago
35032          NaT
27436          NaT
20704   2012-03-02    8 years ago
34294   2010-07-01   10 years ago
769     1994-08-31   25 years ago
23975   2017-05-26    3 years ago
20033   2010-03-17   10 years ago
29452          NaT
14340   1998-07-31   22 years ago
42389   2013-12-31    6 years ago
41250   2008-08-31   11 years ago
24595   2018-03-30    2 years ago
35038          NaT
25370   2018-12-18     1 year ago
11210   1997-06-30   23 years ago
42928   2017-05-30    3 years ago
12688   2019-07-31   7 months ago
21787   2014-03-19    6 years ago
26520   2020-02-07    1 month ago
39642   2018-10-03     1 year ago
26722   2008-01-13   12 years ago
11830   2017-08-15    3 years ago
7721    2006-04-14   14 years ago
31654          NaT
30133          NaT
26966   2013-05-02    7 years ago
43123   2020-01-01   2 months ago
943     1985-11-30   34 years ago
35936          NaT
735     1990-05-31   30 years ago
37492          NaT
29883          NaT
37372          NaT
17441   2006-12-31   13 years ago
13344   2003-09-30   16 years ago
18051   2019-04-30  10 months ago
30016          NaT
21175   2012-10-11    7 years ago
4993    2008-02-15   12 years ago
38732          NaT
39118          NaT
10894   2011-08-20    9 years ago
12653   2009-05-31   11 years ago
15900   2010-10-31    9 years ago
16743   2004-02-29   16 years ago
7518    2017-03-31    3 years ago
16048   2005-09-15   14 years ago
15624   2005-10-31   14 years ago
23751   2017-02-15    3 years ago
12678   2012-01-31    8 years ago
24239   2017-09-21    2 years ago
27974   2019-04-10  11 months ago
38207          NaT
10042   2014-03-31    6 years ago
41891   2017-11-29    2 years ago
41521   2014-05-29    6 years ago
9563    2010-10-31    9 years ago
4842    2019-11-04   4 months ago
7603    2003-08-16   17 years ago
9621    2014-03-28    6 years ago
11363   2012-12-31    7 years ago
12734   2007-08-31   12 years ago
20024   2010-03-18   10 years ago
16679   2015-05-31    5 years ago
9057    2010-12-31    9 years ago
3016    2020-12-31    in 9 months
9813    2003-12-31   16 years ago
39388          NaT
1236    1995-10-31   24 years ago
13092   2018-11-30     1 year ago
40947   2018-02-09    2 years ago
31317          NaT
44004   2014-11-10    5 years ago
29413          NaT
17679   2013-04-30    7 years ago
16469   2019-01-31     1 year ago
11467   2010-10-31    9 years ago
15408   2004-03-31   16 years ago
39600   2018-06-14    2 years ago
90      1993-06-30   27 years ago
35617          NaT
9814    2003-12-31   16 years ago
11326   2014-03-31    6 years ago
37993          NaT
37405          NaT
35046          NaT
33066          NaT
3357    2016-12-31    3 years ago
26451   2019-10-15   5 months ago
27786   2018-05-22    2 years ago
22245   2014-12-16    5 years ago
8766    2010-11-30    9 years ago
1802    2006-12-31   13 years ago
4686    2016-08-31    3 years ago
4222    2012-12-31    7 years ago
19576   2006-12-28   13 years ago
4460    2015-12-31    4 years ago
4015    2011-12-31    8 years ago
43787   2012-09-01    7 years ago
6268    2006-03-31   14 years ago
10377   2006-06-30   14 years ago
21395   2013-06-26    7 years ago
23678   2017-01-10    3 years ago
22946   2016-01-04    4 years ago
43616   2014-12-16    5 years ago
32057          NaT
14597   2002-05-31   18 years ago
22752   2015-10-06    4 years ago
34896          NaT
3362    2016-12-31    3 years ago
21173   2013-01-31    7 years ago
32980          NaT
36337          NaT
32065          NaT
18360   2020-03-12     1 week ago
207     1978-07-15   42 years ago
12669   2005-05-31   15 years ago
15368   2015-02-28    5 years ago
19560   2006-10-06   13 years ago
9628    2014-08-30    5 years ago
6456    2009-07-01   11 years ago
7059    2020-03-20     2 days ago
10578   2008-10-31   11 years ago
11458   2005-12-31   14 years ago
15162   2014-03-31    6 years ago
28331   2009-08-04   11 years ago
34776          NaT
7252    1997-12-31   22 years ago
14165   2007-02-28   13 years ago
26619   1985-10-01   34 years ago
41071   2016-03-31    4 years ago
28645   2004-02-01   16 years ago
5296    2014-10-31    5 years ago
36810          NaT
3036    2018-12-31     1 year ago
2056    1982-12-31   37 years ago
35073          NaT
26328   2019-11-03   4 months ago
35350          NaT
23706   2017-12-06    2 years ago
87      1991-10-31   28 years ago
11434   2016-05-31    4 years ago
16164   2007-05-31   13 years ago
19083   2020-03-02    3 weeks ago
16454   2017-10-31    2 years ago
10591   1982-04-07   38 years ago
28886   2013-12-01    6 years ago
31758          NaT
39206          NaT
38076          NaT
19672   2008-04-02   12 years ago
16808   2015-12-31    4 years ago
13578   1998-01-31   22 years ago
12966   1987-09-30   32 years ago
35926          NaT
10499   2016-12-01    3 years ago
26884   2012-06-13    8 years ago
40713   2016-01-21    4 years ago
35576          NaT
31769          NaT
3938    2008-12-31   11 years ago
41057   2020-02-11    1 month ago
40464   2020-03-16     6 days ago
24948   2018-07-30    2 years ago
39066          NaT
17539   2019-08-17   7 months ago
7008    2010-11-30    9 years ago
40604   2011-07-31    9 years ago
42755   2017-03-31    3 years ago
20303   2011-03-24    9 years ago
18383   2020-03-05    2 weeks ago
16643   2004-05-31   16 years ago
18249   2020-01-01   2 months ago
10864   2010-12-31    9 years ago
20388   2011-06-03    9 years ago
9770    1996-12-02   23 years ago
20109   2010-06-07   10 years ago
32659          NaT
29994          NaT
35693          NaT
16948   2019-04-30  10 months ago
17169   2017-11-30    2 years ago
9801    2019-06-10   9 months ago
1656    1993-02-28   27 years ago
16616   2016-09-30    3 years ago
32166          NaT
5139    2008-05-31   12 years ago
12865   2016-09-30    3 years ago
8352    2011-09-30    8 years ago
37252          NaT
13612   2014-02-28    6 years ago
36076          NaT
35247          NaT
18982   2020-01-01   2 months ago
33399          NaT
7370    2018-06-30    2 years ago
212     1979-04-30   41 years ago
28420   2010-01-01   10 years ago
15453   1997-10-31   22 years ago
25309   2018-11-30     1 year ago
14679   2017-08-31    2 years ago
36197          NaT
36034          NaT
21443   2013-08-15    7 years ago
32382          NaT
17600          NaT
22917   2015-12-23    4 years ago
7631    2003-11-29   16 years ago
40804   2020-02-28    3 weeks ago
9516    2007-12-31   12 years ago
35618          NaT
19381   2020-01-01   2 months ago
43630   2018-10-19     1 year ago
38146          NaT
6532    2005-04-10   15 years ago
5448    1984-05-31   36 years ago
22126   2014-10-02    5 years ago
6551    2006-03-01   14 years ago
18166   2020-03-27      in 4 days
11890   2014-11-01    5 years ago
32180          NaT
4161    2008-12-31   11 years ago
7352    2013-01-31    7 years ago
39008          NaT
12205   2019-09-30   5 months ago
23723   2017-02-01    3 years ago
25287   2011-08-03    9 years ago
18877   2020-02-13    1 month ago
21152   2012-11-06    7 years ago
12231   1997-11-30   22 years ago
37185          NaT
12983   2009-05-31   11 years ago
21445   2013-08-20    7 years ago
39194          NaT
3075    2017-12-31    2 years ago
10212   1998-04-30   22 years ago
10852   2007-04-30   13 years ago
1956    1979-12-31   40 years ago
23718   2017-01-27    3 years ago
21454   2013-07-17    7 years ago
20784   2012-05-03    8 years ago
32146          NaT
40387   2020-03-08    2 weeks ago
38129          NaT
23979   2017-05-16    3 years ago
13109   2005-02-28   15 years ago
38654          NaT
13409   2007-03-31   13 years ago
8780    2011-08-31    8 years ago
16210   2003-09-30   16 years ago
13968   2006-06-30   14 years ago
32      1988-12-31   31 years ago
36561          NaT
37823          NaT
16023   2018-08-31     1 year ago
32907   2013-01-01    7 years ago
3524    2020-12-31    in 9 months
13871   2008-03-01   12 years ago
2813    2020-12-31    in 9 months
36886          NaT
6167    2001-04-30   19 years ago
32541          NaT
30139          NaT
33461          NaT
22992   2016-02-01    4 years ago
21431   2013-08-10    7 years ago
25905   2019-06-25   8 months ago
16778   2005-07-31   15 years ago
27075   2014-07-12    6 years ago
34269          NaT
13634   1995-03-31   25 years ago
42684   2018-06-30    2 years ago
23647   2016-12-10    3 years ago
17962   2020-02-28    3 weeks ago
22350   2014-07-14    6 years ago
35772          NaT
3219    2020-12-31    in 9 months
37999          NaT
20712   2012-02-08    8 years ago
12209   2019-09-30   5 months ago
29525          NaT
11012   2007-08-10   13 years ago
34568          NaT
11155   2016-12-07    3 years ago
9320    2016-10-01    3 years ago
25888   2019-06-11   9 months ago
24045   2017-05-25    3 years ago
38799          NaT
21939   2014-05-20    6 years ago
40066   2020-03-17     5 days ago
4598    2008-12-31   11 years ago
16028   2018-12-31     1 year ago
38068          NaT
27871   2018-11-15     1 year ago
24831   2018-03-23    2 years ago
19964   2009-12-17   10 years ago
17852   2013-12-31    6 years ago
14686   2019-01-31     1 year ago
30063          NaT
14107   2017-08-15    3 years ago
28709   2004-07-01   16 years ago
7471    2005-09-30   14 years ago
4192    2010-12-31    9 years ago
34326          NaT
30094          NaT
39983   2020-03-02    3 weeks ago
18519   2020-01-01   2 months ago
3079    2017-12-31    2 years ago
3553    1973-12-31   46 years ago
591     1990-12-31   29 years ago
3742    2008-12-31   11 years ago
12593   2018-02-28    2 years ago
24933   2018-07-04    2 years ago
19202   2020-01-01   2 months ago
33627          NaT
10690   2012-10-31    7 years ago
12370   2020-04-06     in 2 weeks
2327    2011-12-31    8 years ago
6949    1979-03-31   41 years ago
39185          NaT
31376          NaT
6734    2014-09-30    5 years ago
5295    2014-10-31    5 years ago
12125   2015-09-30    4 years ago
40461   2020-03-13     1 week ago
8592    2016-12-31    3 years ago
37425          NaT
36918          NaT
38535          NaT
41195   2018-09-16     1 year ago
39307          NaT
996     1989-04-30   31 years ago
16777   2005-01-31   15 years ago
39871   2020-01-24   2 months ago
31198          NaT
25893   2019-06-12   9 months ago
12453   1982-07-31   38 years ago
4099    2007-12-31   12 years ago
40898   2017-04-15    3 years ago
43143   2012-06-15    8 years ago
25445   2019-01-11     1 year ago
15893   2010-05-31   10 years ago
30384          NaT
39913   2020-02-08    1 month ago
21624   2013-10-29    6 years ago
10151   2011-06-30    9 years ago
39857   2020-01-11   2 months ago
3900    2006-12-31   13 years ago
2385    2012-12-31    7 years ago
16823   2008-01-31   12 years ago
20517   2011-10-04    8 years ago
42900   2008-07-31   12 years ago
5975    2019-05-31   9 months ago
31915          NaT
18425   2020-02-09    1 month ago
6973    2008-02-29   12 years ago
40703   2020-02-17    1 month ago
811     1986-11-30   33 years ago
40448   2020-03-13     1 week ago
29478          NaT
7239    1978-12-31   41 years ago
32308          NaT
1689    1993-05-31   27 years ago
43016   2013-11-19    6 years ago
11518   2014-11-28    5 years ago
6271    2003-02-28   17 years ago
8539    2004-09-30   15 years ago
25550   2019-02-26     1 year ago
40255   2020-02-25    4 weeks ago
10149   2011-03-31    9 years ago
30078          NaT
20360   2011-06-07    9 years ago
37874          NaT
40932   2015-11-13    4 years ago
26802   2010-11-01    9 years ago
10332   1980-03-01   40 years ago
24322   2017-07-01    3 years ago
22836   2015-12-01    4 years ago
28112   2019-11-14   4 months ago
8581    2014-02-28    6 years ago
30182          NaT
26804   2010-12-27    9 years ago
3798    2011-12-31    8 years ago
41657   2019-05-29   9 months ago
34524          NaT
10490   2016-06-01    4 years ago
37889          NaT
27476   2016-01-01    4 years ago
7197    1991-12-31   28 years ago
24964   2018-08-07    2 years ago
25814   2019-05-10  10 months ago
5991    2006-04-04   14 years ago
39101          NaT
31191          NaT
20389   2011-06-03    9 years ago
22310   2015-02-03    5 years ago
23803   2017-03-07    3 years ago
12066   2012-04-23    8 years ago
17970   2013-12-31    6 years ago
20169   2010-10-18    9 years ago
11941   2001-10-22   18 years ago
22438   2015-04-14    5 years ago
1855    2006-12-31   13 years ago
33271          NaT
33526          NaT
16524   2007-03-31   13 years ago
24364   2016-03-30    4 years ago
29099   2007-05-22   13 years ago
10646   2006-06-30   14 years ago
19511   2006-06-16   14 years ago
13417   2009-07-31   11 years ago
34160          NaT
16533   2012-01-31    8 years ago
38621          NaT
35348          NaT
2152    2008-12-31   11 years ago
18115   2016-12-31    3 years ago
6240    2011-10-31    8 years ago
1804    2006-12-31   13 years ago
952     1986-02-28   34 years ago
6673    2010-12-20    9 years ago
10586   1983-03-31   37 years ago
35337          NaT
36290          NaT
2231    2011-12-31    8 years ago
15126   2009-08-31   10 years ago
20358   2011-06-01    9 years ago
40274   2020-02-27    3 weeks ago
17480   2016-06-30    4 years ago
25869   2019-05-16  10 months ago
4136    2008-12-31   11 years ago
19508   2006-04-05   14 years ago
6702    2013-01-20    7 years ago
22198   2013-03-14    7 years ago
36612          NaT
15441   1999-12-31   20 years ago
22943   2015-12-18    4 years ago
12503   2011-11-30    8 years ago
14583   1997-11-30   22 years ago
14253   2010-11-30    9 years ago
37567          NaT
21708   2012-12-05    7 years ago
30517          NaT
36430          NaT
13932   2013-10-31    6 years ago
9978    2020-04-30     in 1 month
3185    2019-12-31   2 months ago
22636   2015-07-28    5 years ago
12830   2005-08-31   14 years ago
38492          NaT
36305          NaT
42738   2020-03-09    2 weeks ago
17789   2017-04-30    3 years ago
16393   2014-12-31    5 years ago
43807   2016-03-23    4 years ago
41396   2017-06-20    3 years ago
21455   2013-08-07    7 years ago
26235   2019-10-10   5 months ago
25496   2019-01-31     1 year ago
40734   2017-05-08    3 years ago
1010    1991-11-30   28 years ago
37900          NaT
11576   2013-10-18    6 years ago
19594   2007-03-15   13 years ago
29969          NaT
35479          NaT
18927   2020-03-04    3 weeks ago
13308   2010-06-30   10 years ago
33305          NaT
24530   2018-02-01    2 years ago
26399   2019-11-27   3 months ago
8482    1997-05-31   23 years ago
18282   2020-02-25    4 weeks ago
38988          NaT
28465   2003-09-01   16 years ago
20062   2010-05-18   10 years ago
43295   2017-05-24    3 years ago
10430   2010-06-30   10 years ago
22933   2015-11-05    4 years ago
25472   2019-01-14     1 year ago
24902   2018-06-26    2 years ago
31988          NaT
26634   1989-12-01   30 years ago
8028    2017-02-28    3 years ago
20371   2011-05-11    9 years ago
36730          NaT
18217   2020-01-01   2 months ago
19869   2009-06-18   11 years ago
43929   2020-03-07    2 weeks ago
21514   2013-10-01    6 years ago
38964          NaT
4154    2011-12-31    8 years ago
21752   2014-02-07    6 years ago
1517    1991-12-31   28 years ago
32803          NaT
9963    1987-08-31   32 years ago
9371    1997-12-31   22 years ago
25912   2019-06-27   8 months ago
753     1991-12-31   28 years ago
40431   2020-03-16     6 days ago
5256    2008-02-29   12 years ago
30854          NaT
43593   2020-03-14     1 week ago
2183    2008-12-31   11 years ago
10052   2018-03-31    2 years ago
14423   2005-07-31   15 years ago
25661   2019-03-04     1 year ago
23804   2017-03-08    3 years ago
15366   2014-11-30    5 years ago
24397   2017-10-29    2 years ago
26567   2020-02-21    1 month ago
6204    2006-01-31   14 years ago
22301   2015-01-15    5 years ago
16215   2003-10-31   16 years ago
42046   2010-04-30   10 years ago
14401   2015-11-30    4 years ago
13866   2007-06-01   13 years ago
12145   2016-08-30    3 years ago
3915    2003-12-31   16 years ago
5415    2015-11-14    4 years ago
16585   2019-12-31   2 months ago
14823   2007-04-30   13 years ago
39676   2018-12-22     1 year ago
34518          NaT
3801    2011-12-31    8 years ago
35467          NaT
910     1995-05-31   25 years ago
23307   2016-06-30    4 years ago
35262          NaT
37760          NaT
33592          NaT
15434   2018-02-28    2 years ago
11742   2000-11-30   19 years ago
17798   2016-07-31    4 years ago
627     1989-05-31   31 years ago
36201          NaT
20850   2012-06-22    8 years ago
26237   2019-10-22   5 months ago
24318   2017-10-12    2 years ago
31032          NaT
40009   2020-03-07    2 weeks ago
26053   2019-08-02   7 months ago
12047   2010-08-26    9 years ago
13068   2008-01-31   12 years ago
29655          NaT
18959   2020-01-01   2 months ago
25890   2019-06-06   9 months ago
39295          NaT
36129          NaT
13731   2014-01-15    6 years ago
13507   2003-11-28   16 years ago
25029   2017-11-02    2 years ago
25838   2019-06-11   9 months ago
25278   2010-11-16    9 years ago
39334          NaT
5707    1999-01-31   21 years ago
12023   2009-06-12   11 years ago
37400          NaT
1490    1995-08-31   24 years ago
33574          NaT
25452   2019-01-18     1 year ago
6939    2018-01-20    2 years ago
41224   2018-07-02    2 years ago
5020    2013-01-11    7 years ago
15044   2018-04-30    2 years ago
28231   2007-08-24   12 years ago
42480   2016-07-01    4 years ago
16769   2005-09-30   14 years ago
4731    2005-07-31   15 years ago
39288          NaT
20071   2010-06-03   10 years ago
7191    1989-12-31   30 years ago
6860    1994-08-01   26 years ago
7791    2010-06-04   10 years ago
25477   2019-01-31     1 year ago
14793   2004-04-30   16 years ago
11159   2017-01-20    3 years ago
2668    1983-12-31   36 years ago
43035   2019-12-01   3 months ago